* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 73px 88px;
}


html {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    background-color: hsl(218, 28%, 13%);
    color:#FFFF;
    font-weight: 400;
    display: ;
    box-sizing: border-box;
    
}

.items {

height: 19px;
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;

display: flex;
align-items: center;

}

.link  {
    padding-right: 56px;
}

ul,
li {
    list-style: none;
}

h2 {
    font-size: 40px;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 73px 88px;
    
}

.first-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height:;
    background: url("images/bg-curvy-desktop.svg") bottom no-repeat;

}

.first-image img {
    width: 739px;
    height: 533px;
}

.first-image h2 {
    width: 742px;
    margin: 46px;
}

.first-image p {
    width: 742px;
    font-size: 22px;
    padding: 0 30px;

}


.heading {
    /* All your files in on */


/*width: 734px;
height: 120px;
left: 353px;
top: 771px;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 60px;
/* or 150% */
/*text-align: center;*/
color:;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;



}

p {
    /* Fylo stores all your */

width: 589px;
height: 90px;
left: 426px;
top: 922px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
/* or 150% */
text-align: center;
color:#FFFF;
display: flex;
align-items: center;

}

.button {
    /* Group */


width: 280px;
height: 56px;
left: 580px;
top: 1044px;



/* Rectangle 2 */


left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #8ADAE3;
box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
border-radius: 28px;


/* Get Started */


height: 19px;
left: 34.29%;
right: 33.93%;
top: calc(50% - 19px/2 + 0.5px);

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #FFFF;
/* identical to box height */



}

.box {
    display: flex;
    width: 349px;
    height: 214px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
    
}

.top {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-left: ;
    
}

.bottom {
    display: flex;
    justify-content: center;
    padding-top: ;
}

 .box,
 .one {
     padding-right: 147px;
     margin-top: 407px;
     margin-left: 280px;

}

.box, 
.four {
    align-self: ;
}

.productive {
    display: flex;
    margin-top: 200px;
    margin-left: 105px;
    
    
}

.middle {
    width: 563px;
    height: 282px;
    padding-left: 57.24px;
}



.heading-2 {
    /* Stay productive, whe */



left: 0%;


font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 50px;
/* or 125% */

color: #FFFFFF;


} 

.link-arrow {
    color: cyan;
    padding-left: 50px;

}
/*testimonials card */

.testimonial-cards {
  display: flex;
  justify-content: center;
  flex-direction: row;  
  padding: 140px;
}

.testimonial {
    flex: 1;
    background: hsl(219, 30%, 18%);
    padding: 45px 48px;
    border-radius: 5px;
    position: relative;
    width: 360px;
    height: 200px;
    
    
}

.testimonial p {
    margin-bottom: 25px;
    width: 309.3px;
    height: 84px;
    font-size: 14px;
    line-height: 21px;
    
}

.image {
    width: 24xp;
    height: 24px;
    border-radius: 50%;
}

.profile {
    
    width: 133px;
    height: 26px;
    font-size: 10px;
    line-height: 12px;
    
}

.div {
    padding-top: -5px;
    width: 100px;
    height: 20px;
}

.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(217, 28%, 15%);
    padding: 58px 74px 48px 74px;
    border-radius: 5px;
}

sign-up h2 {
    margin-bottom: 30px;

}

.sign-up p {
    margin-bottom: 36px;
    text-align: center;
}

#sub-email {
    width: 520px;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 1rem;
    margin-right: 1rem;
}

.get-started {
    background-color: hsl(176, 68%, 64%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    width: 200;
    height: 30px;
    border: none;
    border-radius: 50px;
    padding: 1rem 0 2rem 0;
}

form input[type='email'] {

}

.footer-location {
    width: 379px;
    height: 72px;
    margin-left: 120px;
}

.footer-contact {
    padding-left: 80px;
}

.about {
    margin-left: 896px;
}

.contact {
    margin-left: 1045px;
    

}

.social {
    width: 120px;
    height: 31px;
    margin-left: 1240px;
    margin-right: 81px;

}










form input[type='submit'] {
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%);
    color: hsl(0, 0%, 100%);
}

































